/* ------------------------------------------------------------------------ */    
/* ------------------------------------------------------------------------ */
/* 2. Header V2 - Navigation */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */

#header .header-container{
    height: 125px;
}

#header .logo{
    margin-top:33px;
}

#header #navigation .select-menu {    display: none }

#header #navigation{
    border-top:1px solid #dddddd;
    background: #ffffff;
}

#header #navigation ul {
    list-style: none;
    margin: 0;
}

    #header #navigation ul#nav > li {
        display: block;
        float: left;
        position: relative;
        line-height: 1;
    }

        #header #navigation ul#nav > li > a {
            display: block;
            float: left;
            margin: 0;
            padding: 14px 20px;
            font-size: 13px;
            color: #666666;
           
        }
        
        #header #navigation ul#nav > li:after{
            content: '';
            height:50%;
            top:25%;
            left: 0;
            border-right: 1px solid #efefef;
            position: absolute;
        }

        #header #navigation ul#nav > li > a:hover {
            color: #333333;
        }
        
/* Active Status ---------------------------------------------------- */
#header #navigation ul#nav > li.current-menu-item > a,
#header #navigation ul#nav > li.current-menu-item > a:hover,
#header #navigation ul#nav > li.current-page-ancestor > a,
#header #navigation ul#nav > li.current-page-ancestor > a:hover,
#header #navigation ul#nav > li.current-menu-ancestor > a,
#header #navigation ul#nav > li.current-menu-ancestor > a:hover,
#header #navigation ul#nav > li.current-menu-parent > a,
#header #navigation ul#nav > li.current-menu-parent > a:hover,
#header #navigation ul#nav > li.current_page_ancestor > a,
#header #navigation ul#nav > li.current_page_ancestor > a:hover {
    color: #289dcc;
    font-weight: 600;
    border-top: 1px solid #289dcc;
    margin-top:-1px;
}

#header #navigation ul#nav > li.current-menu-item > a:after,
#header #navigation ul#nav > li.current-page-ancestor > a:after,
#header #navigation ul#nav > li.current-menu-ancestor > a:after,
#header #navigation ul#nav > li.current-menu-parent > a:after,
#header #navigation ul#nav > li.current_page_ancestor > a:after{
    content: '';
    position: absolute;
    top:0;
    left: 50%;
    margin-left: -3px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #289dcc transparent transparent transparent;
}

/* Sub-menu ---------------------------------------------------- */
#header #navigation .sub-menu{
    top:41px;
}

/* Misc ---------------------------------------------------- */

#header .slogan{
    float: right;
    margin-top:30px;
    margin-right:10px;
}

#header #header-searchform{
    margin-top:30px;
}

#header #header-searchform input {
    border:1px solid #dddddd;
    width: 180px;
    cursor:text;
    padding-left:30px;
}
#header #header-searchform input:focus {
    background-color: #ffffff;
    border:1px solid #dddddd;
    width: 180px;
}

/* ------------------------------------------------------------------------ */    
/* ------------------------------------------------------------------------ */
/* 12. Header Subnavigation */
/* ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------ */
#navigation .sub-menu{
    position:absolute;
    z-index:12000;
    display:none;
    background:#999999;
    padding:5px 15px;
    -webkit-box-shadow:1px 1px 2px 0px rgba(0, 0, 0, 0.2);
       -moz-box-shadow:1px 1px 2px 0px rgba(0, 0, 0, 0.2);
            box-shadow:1px 1px 2px 0px rgba(0, 0, 0, 0.2);
    -webkit-border-radius:0px 0px 3px 3px;
       -moz-border-radius:0px 0px 3px 3px;
            border-radius:0px 0px 3px 3px;
    border-top:3px solid #555555;
}

    #navigation .sub-menu li {
        display: block;
        margin: 0;
        padding: 0;
        height: auto;
        border-bottom: 1px solid #a5a5a5;
        border-left: none;
        position: relative;
    }
        
        #navigation .sub-menu li a{
            height: auto;
            line-height: 1;
            padding:10px 0;
        }

        html body #navigation .sub-menu li a,
        html body #navigation .sub-menu li .sub-menu li a,
        html body #navigation .sub-menu li .sub-menu li .sub-menu li a {
            border: none;
            display: block;
            width: 160px;
            margin: 0;
            padding: 8px 0px;
            color: #dedede;
            line-height: normal;
            font-weight: normal;
            height: auto;
            background: none;
        }

        #navigation .sub-menu li a:hover,
        #navigation .sub-menu li .sub-menu li a:hover,
        #navigation .sub-menu li.current-menu-item a,
        #navigation .sub-menu li.current-menu-item a:hover,
        #navigation .sub-menu li.current_page_item a,
        #navigation .sub-menu li.current_page_item a:hover {
            color: #ffffff !important;
            font-weight: normal;
        }

    #navigation .sub-menu li:last-child{ 
        border: none;
    }

    html body #navigation #nav .sub-menu li ul {
        top: -1px !important;
        left: 178px !important;
        border-top: none;
        -webkit-border-radius:3px;
           -moz-border-radius:3px;
                border-radius:3px;
    }


