/*

CSS Social Media Buttons by MediaLoot
URL: http://medialoot.com/item/css-social-media-buttons

Designer: Tony Thomas

*/

/* Hover and Active States for All Button Styles */

.social-media-button a:link { opacity: 1; }
.social-media-button a:hover {
        text-decoration: none;
	color: white;
	-webkit-box-shadow: inset 0 0 0 250px rgba(255,255,255,.1);
	-moz-box-shadow: inset 0 0 0 250px rgba(255,255,255,.1);
	box-shadow: inset 0 0 0 250px rgba(255,255,255,.1);
	}
.social-media-button a:active { opacity: 0.8; }


/* Button Styles */

.facebook {
	/*General*/
	display: block; 
	text-decoration: none;
	/*Text*/
	font-family: 'SocialGlyphs';text-align: center;
	font-size:25px;
	line-height:1.2;
	text-indent: 10px;
	font-weight:regular;
	color: white;
	text-shadow:0px -1px 0px rgba(0,0,0,0.20);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true)";zoom:1;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true);
	
	/*Background*/
	width:32px;
	height:32px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #4f78b4;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	background-image: -webkit-linear-gradient(bottom, #4974b0, #6e90c0);
	background-image: -moz-linear-gradient(bottom, #4974b0, #6e90c0);
	background-image: -o-linear-gradient(bottom, #4974b0, #6e90c0);
	background-image: linear-gradient(to top, #4974b0, #6e90c0);
}

.facebook:after {
	content: "A";
}

.feed {
	/*General*/
	display: block; 
	text-decoration: none;
	
	/*Text*/
	font-family: 'SocialGlyphs';
	text-align: center;
	font-size:25px;
	line-height:1.2;
	color: white;
	text-shadow:0px -1px 0px rgba(0,0,0,0.20);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true)";zoom:1;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true);
	
	/*Background*/
	width: 32px;
	height: 32px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #ef922f;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	background-image: -webkit-linear-gradient(bottom, #ef922f, #f8a64f);
	background-image: -moz-linear-gradient(bottom, #ef922f, #f8a64f);
	background-image: -o-linear-gradient(bottom, #ef922f, #f8a64f);
	background-image: linear-gradient(to top, #ef922f, #f8a64f);
}

.feed:after {
	content: "U";
}

.email {
	/*General*/
	display: block; 
	text-decoration: none;
	
	/*Text*/
	font-family: 'SocialGlyphs';
	text-align: center;
	font-size:35px;
	line-height:1.0;
	color: white;
	text-shadow:0px -1px 0px rgba(0,0,0,0.20);
	-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true)";zoom:1;
	filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#40ffffff,Positive=true);
	
	/*Background*/
	width: 44px;
	height: 44px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #1d90dd;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	background-image: -webkit-linear-gradient(bottom, #1d90dd, #2da2f0);
	background-image: -moz-linear-gradient(bottom, #1d90dd, #2da2f0);
	background-image: -o-linear-gradient(bottom, #1d90dd, #2da2f0);
	background-image: linear-gradient(to top, #1d90dd, #2da2f0);
}

.email:after {
	content: "W";
}
